# TAN verification

While sharing Proposal with customer we face two scenarios-If Client wants a TDS deduction at the time of Proposal Mandatory TAN verification (via Ticket)Important: Verification needs to be completed before sending the proposalIf Client Does not want a TDS deduction at the time of Proposal No Action Required
